<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEARCH</title>
    <link rel="stylesheet" href="../static/css/search.css">
</head>
<body>
    <header>
        <div class="headerleft">
            <div class="logoimg"><img src="../static/img/우사기.jpg" style="width: 100px"></div>
        </div>
        <div class="headermiddle">
            <input type="text" class="search" placeholder="검색해보세요."> 
        </div>
        <div class="headerright"></div>
    </header>
 
    <div class="headerline" style="border-top: 1px solid #000000; width: 100%;"></div>

    <div class="searchcontainer">
        <div class="leftcontainer">
            <div class="navigationbar"><a href="./search.html">search</a>
            </div>
        </div>

        <div class="maincontainer">
        </div>

        <div class="rightcontainer">
        </div>
    </div>

</body>
</html>