<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="../static/css/home.css" rel="stylesheet" >
</head>

<body>
    <header class ="hd">
        <h1><a href="home.html" class="home">HOME</a></h1>
        <h1><a href="love.html" class="love">LOVE</a></h1>
    </header>
 
    <main>
        <div class="profile_img">
            <img src="../static/img/우사기.jpg" alt="사진">
        </div>

        <div class="name">이가윤</div>
        <div class="grade">컴퓨터공학과 2학년</div>
        <div class="intro">2학기 때 플젝을 무사히 끝낼 수 있으면 좋겠다..!
            <br> 앞으로 열심히 하자!!!</div>
        <div class ="link">
            <a href="https://www.instagram.com/gyunnmy?igsh=cndhemhnZXByanU3&utm_source=qr" target="_blank" class="insta">
                @gyunnmy
            </a>
        </div>
    </main>
    
</body>
</html>