<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹 프론트 과제 01</title>
    <link rel="stylesheet" href="../css/assignment_01.css">
</head>

<body>
    <div class="wrap">
        <header></header>

        <main>
            <div class="left">
                <div class="top">
                    화이팅
                </div>
                <div class="bottom"></div>
            </div>
            <div class="middle"></div>
            <div class="right"></div>
        </main>
        
        <footer></footer>
    </div>
    
</body>
</html>