<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEARCH</title>
    <link rel="stylesheet" href="../css/assignment_03.css">
</head>
<body>
    <header>
        <div class="headleft">
            <div class="logo"><img src="../img/home.png" style="width:100px"></div>
        </div>
        <div class="headmiddle">
            <form>
                <input type="text" class="searchbox" placeholder="검색해보세요">
            </form>
        </div>
        <div class="headright"></div>
    </header>
    
    <div class="headline" style="border-top:1px solid black; width:100%;"></div>
    
    <section>    
        <div class="bodyleft">
            <div class="search"><a href="assignment_03.html">search</a></div>
        </div>

        <div class="bodymiddle"></div>

        <div class="bodyright"></div>
    </section>
</body>
</html>